body{background-color: blanchedalmond;
    font-family: Arial, Helvetica, sans-serif;}
h1{text-align: center;}
p{width: 500px;
    text-align: justify;
    line-height: 1.5;
    margin-top: 50px;
    margin-left: 50px;
   
   float: left;}